<div class="modal-container">
  <div>
    <p class="field-container">
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <input matInput [(ngModel)]="filmModifie.originalTitle" placeholder="Titre">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field  appearance="outline">
        <mat-label>Année</mat-label>
        <input matInput [(ngModel)]="filmModifie.startYear">
      </mat-form-field>
    </p>

  </div>

  <div class="button-container">
    <button mat-raised-button (click)="saveFilm()">Sauvegarder</button>
    <button mat-raised-button (click)="close()">Fermer</button>
  </div>
</div>
